header{
    background-color:#050A30;
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    height:10vh;
    width:100%;
    z-index:1000;
}

.Pages a{
    position:relative;
    color:white;
    text-decoration:none;
    font-size:  1.2rem;
    padding-left: 2.5vh;
    padding-right:2.5vh;
    margin:2rem;
}
.Pages a:after{
    content:"";
    position: absolute;
    background-color:white;
    height:0.2rem;
    left:0;
    width:0;
    bottom:-0.5rem;
    transition:0.5s;

}
.Pages a:hover:after{
    width:100%;
}


.Pages a{
    position:relative;
    color:white;
    text-decoration:none;
    font-size:  1.2rem;
    padding-left: 2.5vh;
    padding-right:2.5vh;
    margin:2rem;
}
.Pages a:after{
    content:"";
    position: absolute;
    background-color:white;
    height:0.2rem;
    left:0;
    width:0;
    bottom:-0.5rem;
    transition:0.5s;

}
.Pages a:hover:after{
    width:100%;
}
body{
    margin:0;
    display:flex;
    padding:20px;
    justify-content:center;
    align-items:flex-start;
}

.Quiz_Container{
    margin-top:6%;
    margin-left:18%;
    margin-right:18%;
    padding:25px;
    width:100%;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    box-shadow:0 0 15px gray;
    max-width:85vh;
}
form{
    display:flex;
    flex-direction: column;
}
.Questions{
    display:flex;
    flex-direction: column;
    margin-bottom:1.5%;

}
label{
    margin-top:0.5%;
    margin-bottom:0.5%;
}
select{
    padding:5px;
    margin-top: 0.5%;
    margin-bottom:0.5%;
}
button{
    margin-top:2%;
    padding:15px;
    margin-left:35%;
    margin-right:35%;
    border-radius:7px;
    cursor: pointer;
}
.Recommendation_Articles{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}
.Article_Result{
    display:none;
    padding:20px;
    width:100%;
    justify-content:center;

}

.Art_Rec{
    margin-left:7.5%;
    margin-top:12vh;
}
.Art_Rec p{
    margin-bottom:1%;
}
#Aheading{
    margin-left:7.5%;
    margin-top:3%;
}
h2{
    padding:5px;
}
.Full_Container .Square_Img{
    width:100%;
    aspect-ratio:5/3;
}
.Full_Container{
    display:flex;
    justify-content:space-between;
    margin-left:5%;
    margin-right:5%;
    padding-bottom:3%;
    
}

.Triple_Column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:80%;
    border-radius:10px;
    overflow: hidden;
    background-color:rgb(179, 191, 250);
    box-shadow:0 0 5px gray;
    font-size:1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.Triple_Column p{
    padding-left:5px;
    padding-right:5px;
    margin-bottom:10px;
    
}
.Triple_Column h2{
    text-align: center;
    
}
.Triple_Btn{
    display:inline-block;
    align-self: flex-start;
    padding:10px;
    background-color:rgb(24, 24, 95);
    text-decoration:none;
    border-radius:5px;
    margin-bottom:10px;
    color:white;
    margin-left:5px;

}
