header{
    background-color:#050A30;
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    height:10vh;
    width:100%;
    z-index:1000;
}

.Pages a{
    position:relative;
    color:white;
    text-decoration:none;
    font-size:  1.2rem;
    padding-left: 2.5vh;
    padding-right:2.5vh;
    margin:2rem;
}
.Pages a:after{
    content:"";
    position: absolute;
    background-color:white;
    height:0.2rem;
    left:0;
    width:0;
    bottom:-0.5rem;
    transition:0.5s;

}
.Pages a:hover:after{
    width:100%;
}


.Pages a{
    position:relative;
    color:white;
    text-decoration:none;
    font-size:  1.2rem;
    padding-left: 2.5vh;
    padding-right:2.5vh;
    margin:2rem;
}
.Pages a:after{
    content:"";
    position: absolute;
    background-color:white;
    height:0.2rem;
    left:0;
    width:0;
    bottom:-0.5rem;
    transition:0.5s;

}
.Pages a:hover:after{
    width:100%;
}

h1{
    margin-top:6%;
    margin-left:3%;
}
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(25, 79, 106);
    color:white;
}

ul{
    margin-top:0;
    padding:0;
    height:100%;
    width: 90%;
    position:static;
    background-color:black;
}
ul li{
    list-style:none;
}
ul li a{
    display:block;
    font-size:1.35rem;
    padding:5.5%;
    color:white;
    position: relative;
    text-decoration:none;
    margin-bottom:6%;
}
ul li a.active{
    background-color:rgb(0, 63, 172);
}
ul li a:after{
    content:"";
    position: absolute;
    background-color:white;
    height:0.2rem;
    left:0;
    width:0;
    bottom:0rem;
    transition:0.5s;

}
ul li a:hover:after{
    width:100%;
}

.Double_column{
    height:100vh;
    display:flex;
    margin-left:3%;
    margin-right:3%;
    
}
.Double_column iframe{
    height:100%;
    width:90%;

    
}
.Text_Column{
    width:33%;
    margin:0;
    text-align:center;
    font-size:1rem;
}
.Insight{
    padding:2%;
    width:20%;
}
.Insight h1{
    margin-top: 0%;
    margin-bottom:0%;
}
.Insight p{
    margin-top:1.5%;
    font-size:1.25rem;
}